node_modules/
www/
dist/
qa/
*.log
.DS_Store
.vscode/
.idea/
*.jks
*.keystore
.env*
android/.gradle/
android/**/build/
android/local.properties
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
